@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


        <a ><img src="~/Public/images/GT.png" style="width:28%; height:25%" /></a>
        <div style="background:#FFE7EC; height:370px; margin-top:15px; margin-right:30px">
            <br />
            <a style="font-weight:bold;margin-left:4%; color:#FA748F; font-size:22px">T&L</a>
            <a style="font-size:22px">là một trong những đơn vị cung ứng mỹ phẩm hàng đầu hiện nay đã nhận được sự tin tưởng và ưu tiên lựa chọn </a><br />
            <a style="margin-left:2%;font-size:22px">của nhiều đối tượng khách hàng trên hành trình đi tìm một nhan sắc hoàn mỹ, phong thái tự tin và cơ hội trong công việc  </a><br />
            <a style="margin-left:2%;font-size:22px">và chỉ phân cuộc sống.<br /></a>
            <br />
            <a style="margin-left:4%;font-size:22px">Ra đời, ổn định và không ngừng phát triển,</a> <a style="font-weight:bold; color:#FA748F; font-size:24px">T&L</a> <a style="font-size:24px">đã định vị thành công thương hiệu trên thị trường, trở thành địa  </a><br />
            <a style="margin-left:2%;font-size:22px">phối mỹ phẩm chính hãng uy tín, chuyên nghiệp, mang những dòng sản phẩm tốt nhất đến cho chị em, kiến tạo thành công  </a><br />
            <a style="margin-left:2%;font-size:22px">những làn da hoàn mỹ, sắc thái tự tin, tất cả vì tương lai và sự hạnh phúc của phụ nữ Việt.</a>
            <br /><br />
            <a style="margin-left:4%;font-size:22px">Tự hào là nơi cung cấp mỹ phẩm, thực phẩm chức năng của các đơn vị hàng đầu thế giới, chúng tôi mang lại cho quý  </a><br />
            <a style="margin-left:2%;font-size:22px">khách hàng đỉnh cao của sự hài lòng tuyệt đối mà họ khó có thể tìm thấy tại bất kỳ một địa chỉ nào khác trên thị trường.</a>
            <br /><br />
            <a style="margin-left:4%;font-size:22px">Với tinh thần trách nhiệm, phương châm hướng đến sự an toàn và hiệu quả, Bonita Beauty đã không ngừng nỗ lực tìm </a><br />
            <a style="margin-left:2%;font-size:22px">kiếm, hợp tác với những dòng thương hiệu lớn, nhằm mang lại cho phụ nữ cơ hội để nâng tầm nhan sắc, gìn giữ thanh </a><br />
            <a style="margin-left:2%;font-size:22px">xuân, tự tin để chinh phục các thử thách lớn trong cuộc đời.</a>
        </div>

