@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


        <a ><img src="~/Public/images/TTLH.png" style="width:45%; height:30%" /></a>
        <div class="row" style="margin-left:3%">
            <div class="col-sm-7" style="padding:0">
                <div style="background:#FFE7EC; height:330px; margin-top:15px">
                    <br /><br />
                    <a style="font-weight:bold;margin-left:3%; font-size: 22px">Chi nhánh 1:</a><br />
                    <a style="margin-left:8%; font-size: 22px">Địa chỉ: 140 Lê Trọng Tấn - Tây Thạnh - Tân Phú - TP.Hồ Chí Minh<br /></a>
                    <a style="margin-left:8%; font-size: 22px">Hotline: 012345678</a><br />
                    <a style="margin-left:8%; font-size: 22px">Email: email@gmail.com</a>
                    <br /><br />
                    <a style="font-weight:bold;margin-left:3%; font-size: 22px">Chi nhánh 2:</a><br />
                    <a style="margin-left:8%; font-size: 22px">Địa chỉ: 140 Lê Trọng Tấn - Tây Thạnh - Tân Phú - TP.Hồ Chí Minh<br /></a>
                    <a style="margin-left:8%; font-size: 22px">Hotline: 012345678</a><br />
                    <a style="margin-left:8%; font-size: 22px">Email: email@gmail.com</a>
                </div>
            </div>
            <div class="col-sm-5" style="margin-top:15px; padding:0">
                <div style="background:#FFE7EC; margin-right:70px; padding-top: 40px; height:330px">
                    <img src="~/Public/images/Map.jpg" style="width:80%; height:80%; margin-left:30px" />
                </div>
            </div>
        </div>
