@{
    ViewBag.Title = "UuDai";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div>
    <a ><img src="~/Public/images/UD.png" style="width:28%; height:22%" /></a>
    <br />
    <img src="~/Public/images/SUD.png" style="width:800px; height:400px;" />
</div>
