@{
    ViewBag.Title = "KiemTraThongBaoKichHoat";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="col-xs-12 col-sm-12 col-lg-12 col-left-ac">

    <h2 style="padding-top: 15px;    padding-left: 15px;">Tạo Đơn Hàng Thành Công</h2>
    <div id="after" style="margin-left: 18px">
        <div style="float:left">
            <a href="/Home/Index" class="btn btn-primary" style="background-color: #FA748F; border-color: #FA748F;"><i class="fa fa-angle-left"></i> Trở về</a>
        </div>
    </div>
</div>
