

@model Nhom05_NoSQL.Models.KhachHang


<style>
    .checkout-button {
        display: flex;
        align-items: center;
        border: 1px solid #ae2070;
        padding: 5px;
        border-radius: 5px;
    }

    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .checkout-button img {
        padding-left: 10px;
        height: 50px;
        width: 50px;
    }

    .content {
        padding-left: 15px;
    }

        .content .checkout-title {
            color: #000;
            font-size: 13pt;
            font-weight: 600;
        }

        .content .description {
            color: #666;
        }

    input[type="radio"]:hover {
        cursor: pointer;
    }
</style>
<div class="section group" style="width:100%;padding-bottom: 20px">
    <div style="width: 70%; margin: 0 auto;">
        @using (Html.BeginForm("ThanhToan", "GioHang", FormMethod.Post))
        {
            <div class="form-group">
                <h4>Thông tin khách hàng</h4>
                <input name="MaKH" class="form-control" value="@Model._id" type="hidden" />
            </div>
            <div class="form-group">
                <label>Họ tên khách hàng</label>
                <input name="TenKH" class="form-control" value="@Model.HoTen" readonly="readonly" />
            </div>
            <div class="form-group">
                <label>Địa chỉ</label>
                <input name="DiaChi" class="form-control" value="@Model.DiaChi" readonly="readonly" />
            </div>
            <div class="form-group">
                <label>Điện thoại</label>
                <input name="DienThoai" class="form-control" value="@Model.Sdt" readonly="readonly" />
            </div>
            <div class="checkout-button">
                <div class="checkout-selector">
                    <input type="radio" name="PaymentMethod" value="1" checked="checked" class="btn btn-m2 btn-checkout">
                </div>
                <div class="content" style="display: flex;align-items: center;">
                    <span class="checkout-title">
                        Thanh Toán Khi Nhận Hàng
                    </span>
                </div>
            </div>

            <div class="col-md-offset-2 col-md-10" style="padding-top:10px;padding-left: 18%;">
                <input style="background-color: #FA748F; border-color: #FA748F;" type="submit" value="Gửi đơn hàng" class="btn btn-success" />
            </div>
        }
    </div>
</div>


